{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": "off",
    "no-console": "off"
  }
}
